.char-box {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  border: 1px solid #ddd; /* Optional: to visualize the chat box */
  padding: 10px;
  box-sizing: border-box;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.messages {
  flex: 1; /* Takes up all available space between title and form */
  overflow-y: auto; /* Allows scrolling if messages overflow */
  border-radius: 10px;
  box-shadow: #918e8e52 0px 0px 10px 1px;
  margin-bottom: 10px; /* Space between messages and form */
  display: flex;
  margin: auto 20vw;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  height: 79vh;
}

.left,
.right {
  padding: 0;
  margin: 0;
  min-width: 200px;
  max-width: 60%; /* Limit message width */
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.left,
.right
span {
  font-size: small;
}


.left
p {
  font-size: medium;
}

.left {
  align-self: flex-start;
  background-color: #f1f1f1;
  box-shadow: #9b999b 1px 1px 2px 1px;
}

.right {
  align-self: flex-end;
  background-color: #007bff;
  box-shadow: #007bff67 1px 1px 2px 1px;
  color: white;
}

.send-message {
  padding: 5px 20vw;
  margin-top: 10px;
  background: #414041;
  border-radius: 2px;
}

.message-form {
  display: flex;
  gap: 10px; /* Space between input and button */
}
input {
  width: 100%;
  flex: 1; /* Takes up remaining space */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
