.user-list, .group-list
{
    ul{
        li{
            background: #a8a6a6;
            padding: 10px;
            margin: 2px 0;
            cursor: pointer;
            list-style: none;
            
        }

        .select{
            color: #fff;
            cursor: pointer;
            background-color: #6a6a6a;

        }
    }
}
